<html>
    <body>
        <div class="nav">
            {% block nav %}
            {% endblock %}
        </div>
        <div class="page">
            {% block page %}
            {% endblock %}
        </div>
    </body>
</html>
