{% css 'test' %}

<p>
  If <code>DEBUG_LESS</code> is set to <code>True</code> in the <code>settings.py</code>
  file, the styles will be loaded directly from the <code>less/test.less</code> file in the
  assets directory. Otherwise, it will be loaded from the <code>css/test.css</code> file.
</p>

<p>
  If <code>DEBUG_LESS</code> is enabled, a JavaScript file may be imported to handle
  client-side LESS compilation. This is configured using the <code>CLIENT_LESS_COMPILER</code>
  setting.
</p>

<p>
  If this text is not styled, the LESS file may not be compiled. If you are using Gulp,
  ensure that Gulp is installed, and that it has been compiled using <code>gulp compile</code>
  or <code>gulp watch</code>.
</p>
