<link href="{{ static('css/test.css') }}?v={{ randint(minimum=0,maximum=99999) }}" rel="stylesheet" type="text/css" />
<p>Hello!</p>
<p>Variable: {{ msg }}</p>
<p>Ordinal filter: {{20|ordinal}}</p>
<p>Random number: {{ randint() }}</p>
