<h1><code>include_with</code> test</h1>

<h2>Parent</h2>
<p>Parent context only: {{ parent_context }}</p>
<p>Out of context: {{ out_of_context }}</p>
<p>Context processor variable <code>settings.BASE_DIR</code>: {{ settings.BASE_DIR }}</p>
{%
  include_with 'included/i1.html'
  foo=obj,
  hard='this is a hard coded message',
  var=string
%}
{% include_with 'included/i2.html' foo={'cow': 'moo', 'sheep': 'baa'}, baes=('Link', 'Zelda', 'Seigmeyer'), games=['Dark Souls', 'Bloodborne'], leet=1337 %}
